<div class="row">
    <div class="col-12">
        <h2>Prodotti</h2>
        <div class="mb-3">
            <button class="btn btn-sm btn-outline-primary me-2" (click)="filterByCategory('all')">Tutti i
                prodotti</button>
            <button class="btn btn-sm btn-outline-primary me-2"
                (click)="filterByCategory('electronics')">Elettronica</button>
            <button class="btn btn-sm btn-outline-primary me-2"
                (click)="filterByCategory('accessories')">Accessori</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

<div class="row" *ngIf="!showingCategory">
    <div class="col-md-4 mb-3" *ngFor="let product of products">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ product.price | currency: 'EUR' }}</h6>
                <p class="card-text">Categoria: {{ product.category }}</p>
                <a [routerLink]="['/products', product.id]" class="btn btn-primary">Dettagli</a>
            </div>
        </div>
    </div>
</div>
