<div class="product-card">
    <img [src]="product().imageUrl" [alt]="product().name" class="product-image" />
    <div class="product-info">
        <h3>{{ product().name }}</h3>
        <p class="product-price">€ {{ product().price.toFixed(2) }}</p>
        <p class="product-category">{{ product().category }}</p>
    </div>
    <div class="product-actions">
        <a [routerLink]="['/products', product().id]" class="btn btn-details">Dettagli</a>
        <button class="btn btn-add" (click)="addToCartClick()">Aggiungi al carrello</button>
    </div>
</div>
